@font-face {
  font-family: BebasNeueCyrillic;
  font-display: swap;
  src: url(../fonts/BebasNeueCyrillic.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
html {
  min-height: 100vh
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: BebasNeueCyrillic,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}
button,
input,
textarea {
  font-family: BebasNeueCyrillic,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
body {
  background-color: #000
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: fixed;
  overflow: auto;
  inset: 0
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
*::-webkit-scrollbar {
  width: 4px
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  padding: .0625rem
}
*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2px;
  background-clip: padding-box
}
.main-bg__img,
.section-0__lesya-img,
.swiper-slide__img,
.video-youtube__button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.logo img {
  width: 100%;
  height: auto
}
.txt-block {
  overflow: hidden;
  color: #fff;
  position: relative;
  z-index: 2;
  padding: 1.25rem 1.875rem;
  text-align: center;
  -webkit-transform: skewX(-4deg) rotate(-4deg);
  transform: skewX(-4deg) rotate(-4deg);
  text-shadow: 0 0 20px #a060dd;
  display: inline-block;
  transition: left .65s ease
}
.txt-block span {
  display: inline-block
}
.txt-block__txt {
  position: relative;
  z-index: 3
}
.txt-block::after,
.txt-block::before {
  content: "";
  inset: 0;
  position: absolute
}
.txt-block::before {
  z-index: 1;
  margin: .0625rem;
  background: linear-gradient(180deg,#4a0090 0,#630ab7 100%)
}
.txt-block::after {
  z-index: 0
}
.txt-block.to-right::after {
  background: linear-gradient(90deg,#fff 0,rgba(153,153,153,.5) 100%)
}
.txt-block.to-bottom::after {
  background: linear-gradient(180deg,#fff 0,rgba(153,153,153,.5) 100%)
}
.main-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1
}
.loaded .main-bg__img {
  transition: object-position .65s ease;
  transition: object-position .65s ease,-o-object-position .65s ease
}
.fp-section-0 .main-bg__img {
  -o-object-position: 50% 0;
  object-position: 50% 0
}
.fp-section-1 .main-bg__img {
  -o-object-position: 50% 50%;
  object-position: 50% 50%
}
.fp-section-2 .main-bg__img {
  -o-object-position: 50% 100%;
  object-position: 50% 100%
}
.logo {
  position: fixed;
  z-index: 6;
  top: 3vh;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  transition: opacity .65s ease
}
.content-body {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}
.loaded section {
  visibility: visible!important
}
.section-0__title {
  position: absolute
}
.section-0__title .txt-block__txt {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0
}
.loaded .section-0__title .txt-block__txt {
  transition: opacity .3s ease,-webkit-transform .65s ease;
  transition: transform .65s ease,opacity .3s ease;
  transition: transform .65s ease,opacity .3s ease,-webkit-transform .65s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.section-0__title-1 {
  z-index: 3;
  left: -50%
}
.loaded .section-0__title-1 {
  left: 0
}
.loaded .section-0__title-1 .txt-block__txt {
  transition-delay: .5s
}
.section-0__title-2 {
  top: -3vh;
  left: -50%
}
.loaded .section-0__title-2 {
  left: 3vw;
  transition-delay: .1s
}
.loaded .section-0__title-2 .txt-block__txt {
  transition-delay: .65s
}
.section-0__lesya {
  position: absolute;
  bottom: 0;
  aspect-ratio: 650/843
}
.section-0__lesya.lesya-top {
  aspect-ratio: 717/800
}
.section-0__lesya-img {
  -o-object-fit: contain;
  object-fit: contain
}
.section-0__lesya-img.top-lesya {
  display: none
}
.lesya-top .section-0__lesya-img.top-lesya {
  display: block
}
.lesya-top .section-0__lesya-img.one-pack-lesya {
  display: none
}
.section-1 .content-body,
.section-2 .content-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5625rem
}
.video-youtube {
  background-color: #fff;
  width: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
  transition: transform .65s ease,-webkit-transform .65s ease
}
.fp-section-1 .video-youtube {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.video-youtube__body {
  position: relative;
  z-index: 2;
  background-color: #000;
  margin-inline: auto;
  width: 100%;
  aspect-ratio: 1000/560;
  outline: .625rem solid #c0bcbc;
  border-radius: 1.25rem;
  overflow: hidden
}
.video-youtube__body iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1000/560
}
.video-youtube__button {
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%
}
.video-youtube__button::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
  transition: transform .65s ease,-webkit-transform .65s ease;
  aspect-ratio: 1
}
.section-2__slider {
  margin-inline: auto
}
.swiper-slide {
  transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
  transition: transform .65s ease,-webkit-transform .65s ease;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.fp-section-2 .swiper-slide {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.swiper-slide__item {
  position: relative
}
.swiper-slide__txt {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,50%);
  transform: translate(-50%,50%);
  width: -webkit-max-content;
  width: max-content
}
.swiper-slide__txt .txt-block {
  padding: .9375rem;
  align-content: center
}
.social {
  position: fixed;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  transition: bottom .65s ease,opacity .65s ease
}
.fp-section-1 .social,
.fp-section-2 .social,
.fp-section-3 .social {
  opacity: 1;
  pointer-events: all
}
.social__item {
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease,-webkit-transform .45s ease;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.fp-section-1 .social__item,
.fp-section-2 .social__item,
.fp-section-3 .social__item {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.social__item:nth-child(1) {
  transition-delay: 0s
}
.social__item:nth-child(2) {
  transition-delay: .1s
}
.social__item:nth-child(3) {
  transition-delay: .2s
}
.social__item:nth-child(4) {
  transition-delay: .3s
}
.social__link {
  display: grid;
  place-items: center;
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease,-webkit-transform .45s ease;
  outline: 0
}
.social__link:active {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px)
}
.social__link:active .fill-color {
  fill: #be2c5a;
  background-color: #be2c5a
}
.social__link .fill-color {
  transition: fill .2s ease,background-color .2s ease
}
.social__link svg {
  background-color: #52039d
}
.swiper {
  overflow: visible
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:30.06125em) {
  .section-0__title-1 {
    padding-inline: 5vw
  }
}
@media (min-width:51.31125em) {
  .section-2__slider {
    max-width: 61.5625rem
  }
  .swiper-slide:nth-child(1) .swiper-slide__item {
    transition-delay: 0s
  }
  .swiper-slide:nth-child(2) .swiper-slide__item {
    transition-delay: .1s
  }
  .swiper-slide:nth-child(3) .swiper-slide__item {
    transition-delay: .2s
  }
  .swiper-slide:nth-child(4) .swiper-slide__item {
    transition-delay: .3s
  }
  .swiper-slide:nth-child(5) .swiper-slide__item {
    transition-delay: .4s
  }
  .swiper-slide__item {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform .85s cubic-bezier(.32,1.25,.71,1.08);
    transition: transform .85s cubic-bezier(.32,1.25,.71,1.08);
    transition: transform .85s cubic-bezier(.32,1.25,.71,1.08),-webkit-transform .85s cubic-bezier(.32,1.25,.71,1.08)
  }
  .fp-section-2 .swiper-slide__item {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@media (min-width:90.06125em) {
  .logo img {
    max-width: 17.4375rem
  }
  .swiper-slide__txt {
    font-size: 2.25rem
  }
  .swiper-slide__txt .txt-block {
    min-height: 5.9375rem
  }
  .swiper-slide__txt .txt-block {
    min-width: 10.875rem
  }
}
@media (min-width:120.06125em) {
  .video-youtube__button::before {
    width: 9.375rem
  }
}
@media (min-width:120em) {
  .video-youtube {
    max-width: 62.5rem
  }
}
@media (max-width:90.06125em) {
  .video-youtube {
    max-width: 45.625rem
  }
}
@media (orientation:landscape)and (max-width:56.31125em)and (max-height:30.06125em) {
  .video-youtube {
    max-width: 60%!important
  }
}
@media (max-width:51.31125em) {
  .swiper-slide__item {
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    -webkit-transform: scale(.77);
    transform: scale(.77)
  }
  .swiper-slide-active .swiper-slide__item {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@media (max-width:30.06125em) {
  .section-0__title-2 {
    top: -2vh;
    font-size: 4.5vh
  }
  .section-0__lesya {
    height: 60%;
    width: auto;
    bottom: -5%
  }
  .section-0__lesya.lesya-top {
    height: 50%
  }
  .video-youtube__body {
    outline-width: .4375rem;
    border-radius: .5rem
  }
  .video-youtube__button::before {
    width: 3.75rem
  }
  .section-2__slider {
    max-width: 70%
  }
  .fp-section-1 .social,
  .fp-section-2 .social,
  .fp-section-3 .social {
    bottom: 5vh
  }
}
@media (max-width:24.43625em) {
  .logo img {
    max-width: 10.9375rem
  }
  .swiper-slide__txt {
    font-size: 1.875rem
  }
  .swiper-slide__txt .txt-block {
    min-height: 4.375rem
  }
  .swiper-slide__txt .txt-block {
    min-width: 8.4375rem
  }
}
@media (min-width:24.43625em)and (max-width:90.06125em) {
  .logo img {
    max-width: clamp(10.9375rem ,8.517147619rem + 9.9047619048vw ,17.4375rem)
  }
  .swiper-slide__txt {
    font-size: clamp(1.875rem ,1.7353642857rem + .5714285714vw ,2.25rem)
  }
  .swiper-slide__txt .txt-block {
    min-height: clamp(4.375rem ,3.7931845238rem + 2.380952381vw ,5.9375rem)
  }
  .swiper-slide__txt .txt-block {
    min-width: clamp(8.4375rem ,7.5298678571rem + 3.7142857143vw ,10.875rem)
  }
}
@media (min-width:90.06125em)and (max-width:120em) {
  .video-youtube {
    max-width: clamp(45.625rem ,-5.1380944428rem + 56.3650787024vw ,62.5rem)
  }
}
@media (min-width:90.06125em)and (max-width:120.06125em) {
  .video-youtube__button::before {
    width: clamp(6.25rem ,-3.1313802083rem + 10.4166666667vw ,9.375rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .video-youtube__button::before {
    width: clamp(3.75rem ,2.4974479167rem + 4.1666666667vw ,6.25rem)
  }
}
@media (max-width:51.31125em)and (min-width:30.06125em) {
  .section-2__slider {
    max-width: 50%
  }
}
@media (orientation:landscape)and (max-height:30.06125em) {
  .fp-section-1 .logo {
    opacity: 0
  }
}
@media (orientation:landscape) {
  .section-0__title {
    top: 27vh;
    left: 10vw;
    font-size: 7.5vh
  }
  .section-0__lesya {
    height: 100dvh;
    right: 1vw;
    bottom: -7%
  }
  .fp-section-1 .social,
  .fp-section-2 .social,
  .fp-section-3 .social {
    bottom: 5vh
  }
}
@media (orientation:portrait) {
  .section-0__title {
    top: 20vh;
    left: 1vw;
    font-size: 5vh
  }
  .section-0__lesya {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    width: 70%
  }
  .fp-section-1 .social,
  .fp-section-2 .social,
  .fp-section-3 .social {
    bottom: 10vh
  }
}
@media (any-hover:hover) {
  .video-youtube__button:hover::before {
    -webkit-transform: translate(-50%,-50%) scale(1.1);
    transform: translate(-50%,-50%) scale(1.1)
  }
  .social__link:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }
  .social__link:hover .fill-color {
    fill: #be2c5a;
    background-color: #be2c5a
  }
}